# Backend Specific Environment Variables
APP_NAME="AI Resume Screener API"
APP_ENV=development
DEBUG=True
PORT=8000

DATABASE_URL=postgresql+asyncpg://postgres:postgres_password@localhost:5432/resume_screener_db
